body{
    background-color: black;
    color: white;
}

article{
    background-color: rgb(246, 20, 20);
}
nav>ul>h2>li{
    color: yellow;

}

#titulo_del_blog{
    text-align: center;
    font-size: 3rem;
}